{% extends "layout.html" %} {% block content %}
<title>All tasks</title>

{% if session.username %}
<br>
<div class="course">
    <a href="/">Front page</a>
</div><br><br>
{% for task in task_list %}
<div class="task">
    <h1>{{ task.name }}</h1>
    <p>Task description: {{ task.taskDescription }}</p>
    <p>Task deadline: {{ task.taskDeadline }}</p>
    <p>Task status: {{ task.taskStatus }}</p>
    <p>Task assigned to: {{ task.taskUser }}</p>
    <p>Task created by: {{ task.taskCreator }}</p>
    <p>Task created at: {{ task.taskCreatedAt }}</p>
    <p>Task updated at: {{ task.taskUpdatedAt }}</p>
    <p>Task id: {{ task.taskId }}</p>
    <form action="/deleteTask" method="POST">
        <input type="hidden" name="taskId" value="{{ task.taskId }}">
        <input type="submit" value="Delete task">
    </form>
    <form action="/updateTask" method="POST">
        <input type="hidden" name="taskId" value="{{ task.taskId }}">
        <input type="submit" value="Update task">
    </form>
