{% extends "layout.html" %}
{% block content %}

{% if session.username %}
    {% if tasks and tasks|length > 0 %}
    <p>A list of your tasks:</p>
        {% for task in tasks %}
            <div class="user_task">
                <a href="/task/{{ task.id }}">{{ task.name }}</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No tasks found!</p>
        <a href="/createTask">
            <button name="create_newtask">New Task</button>
        </a>
    {% endif %}
{% else %}
    <p>You are not logged in!</p>
    <a href="/login">Login</a> or <a href="/register">Register</a>
{% endif %}

{% endblock %}

