{% extends "layout.html" %} 
{% block content %}
<title>Create new task</title>

{% if session.username %}
<div class="createTask">
    <form action="/createTask" method="POST">
        <h1>Create a task</h1>
        <p>Task name:</p>
        <input type="text" name="name" minlength="1" maxlength="50" required><br>
        <p>Task description:</p>
        <input type="text" name="description" maxlength="300"><br>
        <p>Task deadline:</p>
        <input type="date" name="deadline" required><br>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        {% if session.role %}
            <p>Select group</p>
            <select name="group_id" id="group_select">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
        <input type="submit" value="Create task">
    </form>
{% else %}
    <p>You are not logged in</p>
    <a href="/login">Log in</a>
{% endif %}
</div>
{% endblock %}
```