{% extends "layout.html" %} 
{% block content %}
<!--back to all tasks -->
<div class="back_to_tasks">
  <a href="/allTasks">
    <button>Back to Tasks</button>
  </a>
{% if session.username %}
    <div class="task_mainpage"></div>
    <h1><strong>{{ task['name'] }}</strong></h1>
    <p>{{ task['description'] }}</p>
    <p>
        Status: {{ task['status'] }}<br>
        Deadline: {{ task['deadline'].day }} {{ task['deadline'].strftime("%B") }} 
        {{ task['deadline'].year }} (in {{ (task['deadline']-date).days }} days)
    </p>
    <br>
    <div class="edit_task">
      <div class="edit_task_wrapper">
        <p>Edit task</p>
        <a href='/editTask/{{ task.id }}' class="task-edit-button">
          <button class="custom-button">Edit</button>
        </a>
        {% if task["assignee_id"] == session["user_id"] %}
        <form id="deleteForm" action="{{ url_for('task', task_id=task.id) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
          <input type="hidden" name="action" value="delete_task">
          <button type="button" class="custom-button" onclick="confirmDelete()">Delete Task</button>
        </form>
    {% endif %}
  </div>
</div>
<script>
function confirmDelete() {
  if (confirm('Are you sure you want to delete this task?')) {
    document.getElementById('deleteForm').submit();
  }
}
</script>

    {% if task["assignee_id"] == session["user_id"] %}
    <div class="update_status">
      <p>Change Status:</p>
      <br>
      <form action ="{{ url_for('task', task_id=task.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="hidden" name="new_status" value="Not Started">
        <input type="hidden" name="action" value="update_status">
        <button type="submit" class="custom-button">Mark as Not Started</button>
    </form>
      <form action="{{ url_for('task', task_id=task.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="hidden" name="new_status" value="In Progress">
        <input type="hidden" name="action" value="update_status">
        <button type="submit" class = "custom-button">Mark as In Progress</button>
    </form>
    <form action="{{ url_for('task', task_id=task.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <input type="hidden" name="new_status" value="Completed">
        <input type="hidden" name="action" value="update_status">
        <button type="submit" class="custom-button">Mark as Completed</button>
    </form>
    </div>
  </div>
  {% endif %}
{% else %}
    <p>You are not logged in!</p>
{% endif %}

{% endblock %}